<template name="gameNew">
	<div class="section section--newGame">
		<div class="section-inner">
			<p>So you've got a delicious foil wrapped treat have you...</p>
			<form class="form form--gameNew">
				<div class="form-field">
					<label for="treat">what's actually in the foil then?</label>
					<div class="form-input">
						<input type="text" name="treat" placeholder="">
					</div>
				</div>
				<div class="form-field">
					<button type="submit" class="button">Create this game</button>
				</div>
			</form>
		</div>
	</div>
</template>
