<template name="gameView">
	<div class="section section--main">
		<div class="section-inner">
			<!-- Owner of game -->
			{{#if isOwner}}
				<h3>Guesses for "{{title}}"</h3>

				{{> guesses}}

				{{#if active}}
					<p><button class="button end-game" value="{{_id}}">Declare winners</button></p>
				{{else}}
					<p>This game has been closed.</p>
					<p><button class="button reopen-game">Re-open</button></p>
				{{/if}}
				<p><button class="button button--delete delete-game">Delete game</button></p>
			<!-- Other users -->
			{{else}}
				<!-- Open game -->
				{{#if active}}
					{{#if yourGuess}}
						<p>You guessed <b>{{yourGuess.guess}}</b>.</p>
					{{else}}
						<h2>Place your bets</h2>
						<form class="form form--guess">
							<div class="form-field">
								<label for="guess">What's your guess?</label>
								<div class="form-input">
									<input type="text" name="guess" placeholder="e.g. {{suggestion}}">
								</div>
							</div>
						</form>
					{{/if}}

					{{> guesses}}

				<!-- Closed game -->
				{{else}}
					{{#if yourGuess.correct}}
						<h2>You're a winner!</h2>
						<h3>There was {{title}} in the foil.</h3>
						<p>You guessed {{yourGuess.guess}} <br>Up the {{yourGuess.guess}}!</p>
					{{else}}
						<h3>There was {{title}} in the foil.</h3>
						<p>You're guess was <b>{{yourGuess.guess}}</b>.</p>
					{{/if}}
					{{> guesses}}
				{{/if}}
				{{#if isAdmin}}
					<p><button class="button button--delete delete-game">Delete game</button></p>
				{{/if}}
			{{/if}}

			<p><a href="/games">Other games</a></p>
		</div>
	</div>
</template>
