<template name="gameView">
	<div class="section section--main">
		<div class="section-inner">

			<!-- Owner -->
			{{#if owner}}
				<h3>Guesses for "{{game.title}}"</h3>
				{{> guesses}}
				<p>
					<button class="button end-game">Declare winners</button>
					{{#unless isOpen}}
						<button class="button button--delete delete-game">Delete</button>
					{{/unless}}
				</p>
			{{/if}}

			<!-- Normal user -->
			{{#unless owner}}
				<!-- Open game -->
				{{#if isOpen}}
					{{#if usersGuess}}
						<p>You guessed <b>{{usersGuess.guess}}</b>.</p>
					{{else}}
						<h2>Place your bets</h2>
						<form class="form form--guess">
							<div class="form-field">
								<label for="guess">What's your guess?</label>
								<div class="form-input">
									<input type="text" name="guess">
								</div>
							</div>
						</form>
					{{/if}}

					<h3>Other peoples guesses</h3>
					{{> guesses}}
				{{/if}}

				<!-- Closed game -->
				{{#unless isOpen}}
					<h2>It was actually {{game.title}}</h2>
					{{#if usersGuess.correct}}
						<p>
							Congrats, your winning guess was <b>{{usersGuess.guess}}</b><br>
							<small>Up the {{usersGuess.guess}}!</small>
						</p>
					{{else}}
						<p>You useless guess was <b>{{usersGuess.guess}}</b>.</p>
					{{/if}}

					<h3>Other peoples guesses</h3>
					{{> guesses}}

				{{/unless}}
			{{/unless}}

			<a href="/games">Other games</a>
		</div>
	</div>
</template>
