.button {
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	margin: 0 .2em;
	background: transparent;
	border: 2px solid @color-primary-dark;
	color: @color-primary-darker;
	padding: @space-xs @space-lg;
	border-radius: 3px;
	font-size: 1em;
	outline: none;
	transition-duration: .2s;

	&:hover, &:focus {
		color: @color-primary-light;
		background-color: fade(@color-primary, 5%);
	}

	&--light {
		border-color: @color-primary;
		color: @color-primary;
	}

	&--fill {
		background-color: fade(@color-primary-dark, 90%);
		color: @color-white;
	}

	&--grey {
		background-color: fade(@color-neutral-light, 90%);
		border-color: @color-neutral-light;
		color: @color-white;
	}

	&--delete {
		border-color: #c00;
		color: #900;

		&:hover, &:focus {
			background-color: fade(#900, 5%) !important;
			color: #900 !important;
		}
	}
}
