.button {
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	line-height: 1.1;
	margin: 0 .2em;
	background: none;
	border: 2px solid @color-primary-dark;
	color: @color-primary-darker;
	padding: @space-sm @space-lg;
	border-radius: 3px;
	font-size: 1em;
	outline: none;

	&--light {
		border-color: @color-primary;
		color: @color-primary;
	}
}
