.games {
	text-align: left;
}

.game {
	background-color: @color-neutral-lightest;
	padding: @space-sm @space;
	box-shadow: 0 2px 7px fade(#000, 20%);

	.button {
		&:hover, &:focus {
			color: @color-primary-darker;
			background-color: fade(@color-primary-darker, 15%);
		}
	}

	.game-date {
		float: right;
		color: @color-neutral-light;
		padding-left: @space-sm;
	}

	.game-title {
		font-size: 1.3em;
		color: @color-secondary;
	}

	.game-link {
		text-align: center;
		margin: @space-sm 0 @space-xs;

		.button {
			display: block;
		}
	}
}
