.section {
  clear: both;
  // background-color: @color-white;
  // color: @color-primary-darker;

  &-inner {
    padding: @space-lg @space;
    max-width: @mq-xl-width;
    margin: 0 auto;

    &:before,
	  &:after {
	    display: table;
	    content: '';
	    clear: both;
	  }
  }

  &-title {
    margin-bottom: @space-xl;
    text-align: center;
  }

  &--tall &-inner {
    padding-top: @space-lg;
    padding-bottom: @space-lg;
  }

  &--fullwidth &-inner {
  	padding-left: 0;
  	padding-right: 0;
  }

  &--nopad &-inner {
  	padding: 0;
  }
}

.section--header {
  padding: @space-lg 0 @space;

  h1 a {
    color: inherit;
  }
}

.section--newGame,
.section--activeGames,
.section--inactiveGames {
  background-color: @color-white;
  color: @color-neutral-dark;
  box-shadow: 0 2px 10px fade(#000, 20%);
}

.section--activeGames {
  background-color: @color-secondary-light;
  color: @color-white;

  .game {
    color: @color-neutral-dark;
  }
}

.section--main {
  &:extend(.section--newGame);

  a {
    color: @color-primary-dark;
  }

  .button {
    &:hover, &:focus {
      color: @color-primary-darker;
      background-color: fade(@color-primary-darker, 15%);
    }
  }
}

.section--login {
  .section-inner {
    padding: 0;
  }
}

.section--newGameButton {
  .section-inner {
    padding: 0 0 @space-xl;
  }
}
