<template name="game">
	<div class="game">
		<div class="game-date">{{moFormat created 'DD/MM/YYYY'}}</div>

		{{#unless active}}
			<div class="game-title">{{title}}</div>
		{{/unless}}

		<div class="game-details">
			<div class="game-owner">
				Creator: <b>{{owner.username}}</b>
			</div>

			{{#if winners.count}}
				<div class="game-winners">
					Winners:
					{{#each winners}}
						<b>{{user_name}}</b>
					{{/each}}
				</div>
			{{/if}}
		</div>

		<div class="game-link">
			<a href="/games/{{_id}}" class="button {{#if active}}button--fill{{else}}button--grey{{/if}}">
				{{#if active}}
					Join in
				{{else}}
					View it
				{{/if}}
			</a>
		</div>
  </div>
</template>
