<template name="game">
	<div class="game">
		<div class="game-date">{{moFormat created 'DD/MM/YYYY'}}</div>

		{{#unless active}}
			<div class="game-title">{{title}}</div>
		{{/unless}}

		<div class="game-details">
			<div class="game-owner">
				Owner: {{owner.username}}
			</div>

			{{#if winners.count}}
				<div class="game-winners">
					Winners:
					{{#each winners}}
						{{user_name}}
					{{/each}}
				</div>
			{{/if}}

			<div class="game-players">
				Players: {{guesses.count}}
			</div>
		</div>

		<div class="game-link">
			<a href="/games/{{_id}}" class="button">
				{{#if active}}
					Join in
				{{else}}
					View it
				{{/if}}
			</a>
		</div>
  </div>
</template>
