// Grid
.grid {
  font-size: 0;

  &:before,
  &:after {
    display: table;
    content: '';
    clear: both;
  }

  [class*=col-] {
    vertical-align: top;
  }
}

.grid--padHorizontal {
  margin-left: -@grid-space;

  > [class*=col-] {
    padding-left: @grid-space;
  }
}

.grid--padVertical {
  > [class*=col-] {
    padding-bottom: @grid-space;
  }
}

.grid--pad {
  &:extend(.grid--padHorizontal all);
  &:extend(.grid--padVertical all);
}

.grid--alignMiddle {
  [class*=col-] {
    vertical-align: middle;
  }
}

[class*=col-] {
  font-size: @base-font-size;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

// Columns
.create-sizes(@grid-columns);

@media @mq-sm {
  .create-sizes(@grid-columns, -sm);
}

@media @mq-md {
  .create-sizes(@grid-columns, -md);
}

@media @mq-lg {
  .create-sizes(@grid-columns, -lg);
}

@media @mq-xl {
  .create-sizes(@grid-columns, -xl);
}
